body{
    font-family: sans-serif;
    background: rgb(27, 27, 27);
}


.form-btn,.form-input{
    border: none;
    border-radius: 250px;
    height: 45px;

    text-align: center;
    background: none;
    border:2px solid rgb(15, 114, 228);
   
    color:white;
}

.form-input{
    width: 80%;
    transition: width 200ms linear;
}

.form-btn{
    text-align: center;
    width: 50%;
    color:white;
    border:2px solid rgb(6, 199, 6);
    transition: background 200ms linear;
}

.form-input:focus{
    outline:none;
    width: 100%;
    border:2px solid rgb(6, 199, 6);
}

.form-btn:focus{
    outline:none;
}

.form-btn:hover{
    background: rgb(6, 199, 6);
}

.block-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}