*{
    padding: 0;
    margin: 0 auto;
    font-family: roboto;
}
input {
    padding: 20px 7px;
    width: 185px;
}
.newSalary{
    width: 185px;
    padding: 10px;
    font-size: 1.5em;
    background: rgb(8, 190, 2);
    color:white;

}

.container{
    padding: 10px;
    width: 185px;
}

.btn{
    border: none;
    background: rgb(230, 6, 6);
    color:white;
    width: 200px;
}

.btn:hover{
    opacity: 0.8;
}

.act{
    padding-top: 20px;
}
